<template>
  <div class="w-100 mt-5">
    <div class="w-100">
      <h2>Robot létrehozása</h2>
    </div>
    <div class="w-100">
      <form @submit.prevent="store" method="post">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Név</label>
            <input type="text" class="form-control" v-model="name" required />
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Erő</label>
            <input
              type="number"
              class="form-control"
              v-model="power"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationDefault03">Típus</label>
            <select
              class="custom-select mr-sm-2"
              v-model="selectedType"
              required
            >
              <option
                v-for="type in types"
                v-bind:value="type.id"
                v-bind:key="type.id"
              >
                {{ type.name }}
              </option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">
          <span v-if="robotDetail">Módosítás</span>
          <span v-else>Létrehozás</span>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import ApiRepository from "../../repositories/ApiRepository";

export default {
  props: ["robot-detail"],
  components: {},
  data() {
    return {
      types: [],
      name: "",
      power: "",
      selectedType: "",
    };
  },
  methods: {
    store() {
      let self = this;
      const method = this.robotDetail ? "update" : "store";
      const robotId = this.robotDetail ? this.robotDetail.id : null;

      ApiRepository[method]({
        type_id: self.selectedType,
        name: self.name,
        power: self.power,
        id: robotId,
      })
        .then(() => {
          alert("Sikeres mentés");
          window.location.href = "/";
        })
        .catch((error) => {
          console.log(error);
          alert(
            "Hiba történt a mentés során, kérjük ellenőrizze a console.log-ot."
          );
        });
    },
  },
  mounted() {
    let self = this;
    ApiRepository.getRobotTypes()
      .then((response) => {
        self.types = response.data;
      })
      .catch((error) => {
        console.log(error);
        alert("Hiba történt, kérjük nézze meg a console-t.");
      });
  },
  created() {
    if (this.robotDetail !== null) {
      this.name = this.robotDetail.name;
      this.power = this.robotDetail.power;
      this.selectedType = this.robotDetail.type_id;
    }
  },
};
</script>

<style scoped>
a {
  text-decoration: none !important;
}
</style>
