<template>
  <div class="w-100">
    <div>
      <a
        href="/robot-create"
        class="btn btn-outline-info"
        role="button"
        aria-pressed="true"
        >Robot hozzáadása</a
      >
      <a
        v-if="selectedIds.length == 2"
        @click="fight"
        class="btn btn-outline-danger"
        role="button"
        aria-pressed="true"
        >Harcba küldés</a
      >
    </div>
    <table v-if="robots.length > 0" class="table table-hover mt-2">
      <thead>
        <tr>
          <th scope="col">Azonosító</th>
          <th scope="col">Név</th>
          <th scope="col">Típus</th>
          <th scope="col">Erő</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="robot in robots"
          v-bind:key="robot.id"
          @click="select(robot.id)"
          :class="rowClass(robot.id)"
        >
          <th scope="row">
            {{ robot.id }}
          </th>
          <td>{{ robot.name }}</td>
          <td>{{ robot.type }}</td>
          <td>{{ robot.power }}</td>
          <td>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <button
                  @click.stop="editRobot(robot.id)"
                  class="btn btn-success btn-sm rounded-0"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Edit"
                >
                  <i class="fa fa-edit"></i>
                </button>
              </li>
              <li class="list-inline-item">
                <button
                  class="btn btn-danger btn-sm rounded-0"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Delete"
                  @click.stop="deleteRobot(robot.id)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-else>
      <p>Nincs egy robot sem jelenleg az adatbázisban</p>
    </div>
  </div>
</template>

<script>
import ApiRepository from "../repositories/ApiRepository";

export default {
  props: [],
  components: {},
  data() {
    return {
      robots: [],
      selectedIds: [],
    };
  },
  methods: {
    select(id) {
      // If already contain do not add it
      if (this.selectedIds.indexOf(id) === -1) {
        this.selectedIds.push(id);
      }
      if (this.selectedIds.length > 2) {
        this.selectedIds = [];
        this.selectedIds.push(id);
      }
    },
    rowClass(id) {
      return this.selectedIds.indexOf(id) !== -1 ? "table-success" : "";
    },
    fight() {
      let self = this;
      ApiRepository.fight({
        ids: self.selectedIds,
      })
        .then((response) => {
          alert(
            "A győztes robot.: " +
              response.data.name +
              "\n" +
              "Id: " +
              response.data.id +
              "\n" +
              "Erő: " +
              response.data.power
          );
        })
        .catch((error) => {
          console.log(error);
          alert("Hiba történt, kérjük nézze meg a console-t.");
        });
    },
    deleteRobot(id) {
      if (!confirm("Biztosan törölni szeretné?")) return;
      ApiRepository.delete({
        id: id,
      })
        .then((response) => {
          alert("Törölve");
          location.reload();
        })
        .catch((error) => {
          console.log(error);
          alert("Hiba történt, kérjük nézze meg a console-t.");
        });
    },
    editRobot(id) {
      window.location.href = "/" + id;
    },
  },
  mounted() {
    let self = this;
    ApiRepository.list()
      .then((response) => {
        self.robots = response.data;
      })
      .catch((error) => {
        console.log(error);
        alert("Hiba történt, kérjük nézze meg a console-t.");
      });
  },
};
</script>

<style scoped>
a {
  text-decoration: none !important;
}
</style>
